<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.joe.dao.AdminUserMapper">
    <resultMap id="adminUserMap" type="com.joe.pojo.AdminUserPOJO">
        <id column="user_id" property="userId"/>
        <result column="user_no" property="userNo"/>
        <result column="user_name" property="userName"/>
        <result column="user_account" property="userAccount"/>
        <result column="user_password" property="userPassword"/>
        <result column="role_no" property="roleNo"/>
        <result column="role_name" property="roleName"/>
        <result column="user_mobile" property="userMobile"/>
        <result column="user_email" property="userEmail"/>
        <result column="user_head_sculpture" property="userHeadSculpture"/>
        <result column="user_status" property="userStatus"/>
        <result column="bak" property="bak"/>
        <result column="add_time" property="addTime"/>
        <result column="add_user_no" property="addUserNo"/>
        <result column="update_time" property="updateTime"/>
        <result column="update_user_no" property="updateUserNo"/>
    </resultMap>

    <select id="getAdminUser" resultType="com.joe.pojo.AdminUserPOJO" parameterType="java.util.Map">
        SELECT
        cau.user_id,
        cau.user_no,
        cau.user_name,
        cau.user_account,
        cau.user_password,
        cau.role_no,
        car.role_name,
        cau.user_mobile,
        cau.user_email,
        cau.user_head_sculpture,
        cau.user_status,
        cau.bak,
        cau.add_time,
        cau.add_user_no,
        cau.update_time,
        cau.update_user_no
        FROM cpc_admin_user cau LEFT JOIN cpc_admin_role car ON cau.role_no = car.role_no
        <where>
            1=1
            <if test="userName != null and userName != ''">
                AND cau.user_name like concat("%", #{userName}, "%")
            </if>
            <if test="userAccount != null and userAccount != ''">
                AND cau.user_account = #{userAccount}
            </if>
            <if test="userNo != null and userNo != ''">
                AND cau.user_no = #{userNo}
            </if>
            <if test="userStatus != null and userStatus != ''">
                AND cau.user_status = #{userStatus}
            </if>
        </where>
    </select>

    <select id="listAdminUser" resultMap="adminUserMap" parameterType="java.util.Map">
        SELECT
        cau.user_id,
        cau.user_no,
        cau.user_name,
        cau.user_account,
        cau.user_password,
        cau.role_no,
        car.role_name,
        cau.user_mobile,
        cau.user_email,
        cau.user_head_sculpture,
        cau.user_status,
        cau.bak,
        cau.add_time,
        cau.add_user_no,
        cau.update_time,
        cau.update_user_no
        FROM cpc_admin_user cau LEFT JOIN cpc_admin_role car ON cau.role_no = car.role_no
        <where>
            1=1
            <if test="userName != null and userName != ''">
                AND cau.user_name like concat("%", #{userName}, "%")
            </if>
            <if test="userAccount != null and userAccount != ''">
                AND cau.user_account = #{userAccount}
            </if>
            <if test="userNo != null and userNo != ''">
                AND cau.user_no = #{userNo}
            </if>
            <if test="userStatus != null and userStatus != ''">
                AND cau.user_status = #{userStatus}
            </if>
        </where>
        ORDER BY cau.user_no DESC
        LIMIT #{startRow}, #{rowNum}
    </select>

    <select id="countAdminUser" resultType="java.lang.Integer" parameterType="java.util.Map">
        SELECT COUNT(*)
        FROM cpc_admin_user cau LEFT JOIN cpc_admin_role car ON cau.role_no = car.role_no
        <where>
            1=1
            <if test="userName != null and userName != ''">
                AND cau.user_name like concat("%", #{userName}, "%")
            </if>
            <if test="userAccount != null and userAccount != ''">
                AND cau.user_account = #{userAccount}
            </if>
            <if test="userNo != null and userNo != ''">
                AND cau.user_no = #{userNo}
            </if>
            <if test="userStatus != null and userStatus != ''">
                AND cau.user_status = #{userStatus}
            </if>
        </where>
    </select>
</mapper>
