<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.joe.dao.IndexCourseBannerMapper">
    <resultMap id="BaseResultMap" type="com.joe.entity.IndexCourseBanner">
        <id column="course_banner_id" property="courseBannerId"/>
        <result column="course_banner_no" property="courseBannerNo"/>
        <result column="course_banner_name" property="courseBannerName"/>
        <result column="course_banner_status" property="courseBannerStatus"/>
        <result column="course_banner_url" property="courseBannerUrl"/>
        <result column="course_banner_index" property="courseBannerIndex"/>
        <result column="course_banner_pic" property="courseBannerPic"/>
        <result column="bak" property="bak"/>
        <result column="add_time" property="addTime"/>
        <result column="add_user_no" property="addUserNo"/>
        <result column="update_time" property="updateTime"/>
        <result column="update_user_no" property="updateUserNo"/>
    </resultMap>

    <select id="countCourseBanner" resultType="java.lang.Integer" parameterType="java.util.Map">
        SELECT COUNT(*)
        FROM cpc_index_course
        <where>
            1=1
            <if test="courseBannerName != null and courseBannerName != ''">
                AND course_banner_name like concat("%", #{courseBannerName}, "%")
            </if>
            <if test="courseBannerStatus != null and courseBannerStatus != ''">
                AND course_banner_status = #{courseBannerStatus}
            </if>
        </where>
    </select>

    <select id="listCourseBanner" resultMap="BaseResultMap" parameterType="java.util.Map">
        SELECT
        course_banner_id,
        course_banner_no,
        course_banner_name,
        course_banner_status,
        course_banner_url,
        course_banner_index,
        course_banner_pic,
        bak,
        add_time,
        add_user_no,
        update_time,
        update_user_no
        FROM cpc_index_course_banner
        <where>
            1=1
            <if test="courseBannerName != null and courseBannerName != ''">
                AND course_banner_name like concat("%", #{courseBannerName}, "%")
            </if>
            <if test="courseBannerStatus != null and courseBannerStatus != ''">
                AND course_banner_status = #{courseBannerStatus}
            </if>
        </where>
        ORDER BY course_banner_index DESC, course_banner_id DESC
        LIMIT #{startRow}, #{rowNum}
    </select>
</mapper>
