<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.joe.dao.IndexCourseMapper">
    <resultMap id="BaseResultMap" type="com.joe.pojo.Course">
        <id column="course_id" property="courseId"/>
        <result column="course_no" property="courseNo"/>
        <result column="course_name" property="courseName"/>
        <result column="course_tags" property="courseTags"/>
        <result column="course_cate_no" property="courseCateNo"/>
        <result column="course_cate_name" property="courseCateName"/>
        <result column="course_intro" property="courseIntro"/>
        <result column="course_author" property="courseAuthor"/>
        <result column="course_difficult_level" property="courseDifficultLevel"/>
        <result column="course_fit_people" property="courseFitPeople"/>
        <result column="visit_times" property="visitTimes"/>
        <result column="course_cover" property="courseCover"/>
        <result column="is_top" property="isTop"/>
        <result column="publish_time" property="publishTime"/>
        <result column="role" property="role"/>
        <result column="course_status" property="courseStatus"/>
        <result column="course_learn_num" property="courseLearnNum"/>
        <result column="bak" property="bak"/>
        <result column="add_time" property="addTime"/>
        <result column="add_user_no" property="addUserNo"/>
        <result column="update_time" property="updateTime"/>
        <result column="update_user_no" property="updateUserNo"/>
    </resultMap>

    <select id="countCourse" resultType="java.lang.Integer" parameterType="java.util.Map">
        SELECT COUNT(*)
        FROM cpc_index_course cico LEFT JOIN cpc_index_course_cate cich ON cico.course_cate_no = cich.course_cate_no
        <where>
            1=1
            <if test="courseName != null and courseName != ''">
                AND cico.course_name like concat("%", #{courseName}, "%")
            </if>
            <if test="courseCateNo != null and courseCateNo != ''">
                AND cico.course_cate_no = #{courseCateNo}
            </if>
            <if test="isTop != null and isTop != ''">
                AND cico.is_top = #{isTop}
            </if>
            <if test="courseStatus != null and courseStatus != ''">
                AND cico.course_status = #{courseStatus}
            </if>
        </where>
    </select>

    <select id="listCourse" resultMap="BaseResultMap" parameterType="java.util.Map">
        SELECT
        cico.course_id,
        cico.course_no,
        cico.course_name,
        cico.course_tags,
        cico.course_cate_no,
        cico.course_intro,
        cico.course_author,
        cico.course_difficult_level,
        cico.course_fit_people,
        cico.visit_times,
        cico.course_cover,
        cico.is_top,
        cico.publish_time,
        cico.role,
        cico.course_status,
        cico.course_learn_num,
        cico.bak,
        cico.add_time,
        cico.add_user_no,
        cico.update_time,
        cico.update_user_no,
        cich.course_cate_name
        FROM cpc_index_course cico LEFT JOIN cpc_index_course_cate cich ON cico.course_cate_no = cich.course_cate_no
        <where>
            1=1
            <if test="courseName != null and courseName != ''">
                AND cico.course_name like concat("%", #{courseName}, "%")
            </if>
            <if test="courseCateNo != null and courseCateNo != ''">
                AND cico.course_cate_no = #{courseCateNo}
            </if>
            <if test="isTop != null and isTop != ''">
                AND cico.is_top = #{isTop}
            </if>
            <if test="courseStatus != null and courseStatus != ''">
                AND cico.course_status = #{courseStatus}
            </if>
        </where>
        ORDER BY cico.course_id DESC
        LIMIT #{startRow}, #{rowNum}
    </select>
</mapper>
